<aside class="document__aside">
  <div class="document__aside-logo">
    <a class="document__aside-logo-link" href="#">
      <img class="document__aside-logo-img" src="img/logo.png" title="Home page" alt="logo" />
    </a>
  </div>
  <nav class="document__aside-nav">
    <ul class="l-nav">
      <li class="l-nav__item">
        <a class="l-nav__link _active" href="#">Home</a>
      </li>
      <li class="l-nav__item">
        <a class="l-nav__link" href="#">Work</a>
      </li>
      <li class="l-nav__item">
        <a class="l-nav__link" href="#">About</a>
      </li>
      <li class="l-nav__item">
        <a class="l-nav__link" href="#">Blog</a>
      </li>
      <li class="l-nav__item">
        <a class="l-nav__link" href="#">Services</a>
      </li>
      <li class="l-nav__item">
        <a class="l-nav__link" href="#">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="document__aside-bottom">
    <app-filter></app-filter>
    <p class="document__aside-copyright">© <span>2014</span> Kappe, All Rights Reserved</p>
  </div>
</aside>
